{% extends "frontend/base.html" %}
{% load static %}

{% block content %}

    <div class="container mt-5">
        <h5>Bem-vindo, {{ user.username }}</h5>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>Edição de artigo</h1>
            <div class="d-flex gap-2 align-items-center">
                <a href="{% url 'signout' %}" class="btn btn-danger btn-lg">Logout</a>
                <a href="{% url 'editorial' %}" class="btn btn-secondary btn-lg">Retornar</a>
            </div>
        </div>
        <form action="">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="tile" name="tile">
                <label for="title">Título</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="slug" name="slug">
                <label for="slug">Slug</label>
            </div>
            <div class="row mb-3">
                <div class="form-floating col">
                    <input type="text" class="form-control" id="subject" name="subject">
                    <label for="subject">Assunto</label>
                </div>
                <div class="form-floating col">
                    <input type="text" class="form-control" id="author" name="author">
                    <label for="author">Autor</label>
                </div>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" id="resume" name="resume" style="height: 6rem;"></textarea>
                <label for="resume">Resumo</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" id="content" name="content" style="height: 60rem;" ></textarea>
                <label for="content">Conteúdo</label>
            </div>
            <div class="d-flex justify-content-end mb-5">
                <button type="submit" class="btn btn-primary btn-lg">Salvar</button>
            </div>
        </form>
    </div>
{% endblock %}